build
Makefile.local
*.swp
*tags
*~

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/
DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Microsoft Visual Studio
####################
*.sdf
*.opensdf
*.suo
/.vs
*enc_temp_folder*
*Debug*
*.vs*
*.obj
*.enc
*.tlog
*.log
/code/game/x64/Release
/code/gametype/gt_csinf/x64/Release
/code/gametype/gt_ctf/x64/Release
/code/gametype/gt_dem/x64/Release
/code/gametype/gt_dm/x64/Release
/code/gametype/gt_elim/x64/Release
/code/gametype/gt_gg/x64/Release
/code/gametype/gt_hns/x64/Release
/code/gametype/gt_hnz/x64/Release
/code/gametype/gt_inf/x64/Release
/code/gametype/gt_prop/x64/Release
/code/gametype/gt_tdm/x64/Release
/code/gametype/gt_vip/x64/Release
/code/x64/Release
